<footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here. p text-muted class</p>
    <small><strong>Footer Small Strong  |</strong></small>
    <small><em><a href="http://www.dcisio.com/"></a>Small Em A This website developed by Ben Zaaiman</a></em></small>
    
    <ul>
      <li><%= link_to "Ul Li - About", '#' %></li>
    </ul>
  </div>
</footer>
